.size{
  width:30%;
  height:50%;
  align-self: center;
  display: flex;
  
  }
  .container {
      max-width:60%;
      margin-left: 10%;
      display: flex;

  }
  
.right{
   margin-left:106%; 
   margin-top: -30%; 
   width:75%;
  }
  .deletecenter{
      margin-top: -55%;
      margin-left: 35%;
      width: 106%;
      
  }