.size{
  width:30%;
  height:40%;
  align-self: center;
  display: flex;
  
  }
  @media  screen and (min-width: 350px ) and (orientation:landscape)  {  
  .container {  
      max-width:25%;
      margin-left: 8%;
      display: flex;

  }}
  @media  screen and (min-width: 350px ) and (orientation:landscape)  {  
.right{
   margin-left:106%; 
   margin-top: -95%; 
   width:200%;
  }}
  @media  screen and (min-width: 350px ) and (orientation:landscape)  {  
  .deletecenter{
      margin-top: -101%;
      margin-left: 25%;
      width: 95%;
      
  }}
  @media  screen and (min-width: 350px ) and (orientation:landscape)  {  
  .side{
    margin-left:105%; 
   margin-top: -93%; 
   width:250%;
   
  }}