
  /* .cdelivery{
    max-width: 50%;
    margin-left: 10px;
    margin-top: 10px;
    
  } */

  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .righht{
    margin-left:105%;
    margin-top: -35%;
    width:75%;
  }
  .drighht{
    margin-left:105%;
    margin-top: -28%;
    width:75%;
  }

  .vrighht{
    margin-left:105%;
    margin-top: -34%;
    width:75%;
  }
  
   .deletecenter{
    margin-left:55%;
    margin-top: -65%;
    width:106%;
  } 
  
  svg path {
  
    color:darkblue!important;
  }