.footer{
    position:fixed;
    bottom:-5px;
    background-color: slate;
    width: 100%;
    text-align: center;
    color: black;
    font-style: oblique;
    border-top: 0.5px solid lightgrey;
    height: 40px;
    font-weight: 500;
    
}

