.containers{
    max-width: 50%;
    margin-left:12%;
    margin-top: 1%;
  }

  .right{
    margin-left:105%;
    margin-top: -47%;
    width:75%;
  }

  .dropposition{
    margin-left: 0%;
    margin-top: 3%;
    font-style:normal;
    font-size: large;
    color: blue;
    font-weight:bold;
  }