

.p-10
{
    padding: 20px;
    text-align: center;
}

.sub-main {

    justify-content: center;
    height: 450px;
    width: 25%;
    display: grid;
    box-sizing: border-box;
    /* box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);  */
    padding: 49px 50px;
    background-color:#cbd1e2;
    align-items: center;
    text-align: center;
margin-top: -15%;
line-height: 250%;

}

.centered {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input {
    border: solid 2px;
    width: 104%;
    border-color: black;
    }

   
   
    



.text-primary {

    align-items: right;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -10%;
}
