    
    .container {
        width: 50%;
    margin-left: 5%;
    
    }
    .container {
        max-width: 50%;
        margin-left: 12%;
    }
    .right{
        margin-left:105%;
        margin-top: -30%;
        width:75%;
    }
    .deletecenter{

        margin-top: -55%;
      
        margin-left: 35%;
      
        width: 106%;
      
       
      
      }
