.py-8 {
    width: 50%;
    margin-left: 13%;
    margin-top: 5%;
}

.rightt {
    margin-left: 106%;
    margin-top: -30%;
    width: 50%;
}

.right-3 {

    margin-top: -30%;

    margin-left: 65%;

    width: 60%;



}