    
    .container {
        width: 50%;
    margin-left: 2%;
    
    }
    /* px-8 {
        
        padding-right: 2rem;
        width: 30%;
        
    height:5%;
        display: flex;
    text-align: center;
 
    } */
    

    svg path { 

        color:darkblue!important;
    
      } 



    .right{
        
        margin-left:100%;
        margin-top: -31%;
        width:69%;
        border-style: groove;
    
        box-sizing: border-box;
        
         
      }


    
    .text-right {

    text-align: center;
    }