.tab-list {
    
    padding-left: 20%;
    color:blue;
    font-size:large;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  .tainer {
    max-width: 50%;
   left : 10%;
}
  .tab-list-active {
    background-color: white;
    
  }
  .texttype{
    font-style: bold;
  }
  .view{
    margin-left:105%;
    margin-top: -30%;
    width:70%;
}
.rig2ht{
  margin-left:105%;
  margin-top: -45%;
  width:70%;
}
.add{
  margin-left:65%;
  width:10%;
}

.deletecenter{
  margin-top: -55%;
  margin-left: 35%;
  width: 106%;
}
