.tab-list {
    
    padding-left: 20%;
    color:blue;
    font-size:large;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  .containeer {
    max-width: 50%;
   
}
  .tab-list-active {
    background-color: white;
    
  }
  .texttype{
    font-style: bold;
  }
  .right{
    margin-left:105%;
    margin-top: -53%;
    width:75%;
}
.righht{
  margin-left:105%;
  margin-top: -57%;
  width:75%;
}
.deletecenter{

  margin-top: -55%;

  margin-left: 35%;

  width: 106%;

 

}