.tab-list {
    
    padding-left: 20%;
    color:blue;
    font-size:large;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    
  }
  .texttype{
    font-style: bold;
  }
  .right{
    margin-left:105%;
    margin-top: -50%;
    width:75%;
}