.size{
width:50%;
height:40%;
align-self: center;
display: flex;

}
/* .tainer {
    max-width:50%;
    margin-left:10%;
} */
.righ2ts{
    margin-left:95%;
    margin-top:-100%;
    width:50%;
  }
  .urigh2ts{
    margin-left:95%;
    margin-top: -107%;
    width:50%;
  }