.size{
width:50%;
height:40%;
align-self: center;
display: flex;

}
.container {
    max-width:50%;
    margin-left:10px;
}
.righ2ts{
    margin-left:95%;
    margin-top: -95%;
    width:50%;
  }
  .urigh2ts{
    margin-left:95%;
    margin-top: -102%;
    width:50%;
  }